/* ------------------- Règles générales ---------------------- */
/* ------------------- Titres ---------------------- */
h2 {
  color: $primary-color;
  font-size: rem-calc(42);
  font-weight: bold;
}

/* ------------------- Boutons ---------------------- */
.button {
  @include button-style($secondary-color, darken($secondary-color,15), $white);
  font-weight: bold;
  font-size: rem-calc(16);
  text-transform: uppercase;
}


/* ------------------- separator-image ---------------------- */

/* ------------------- separator-image General ---------------------- */
.separator-image {
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  @include breakpoint(medium){
    height: 350px;
  }
}/* ------------------- /separator-image General ---------------------- */

/* ------------------- separator-image pool-image ---------------------- */
.pool-image {
  background-image: url(../assets/images/separators/small/separator01-image.jpg);
  @include breakpoint(medium){
    background-image: url(../assets/images/separators/medium/separator01-image.jpg);
  }
  @include breakpoint(large){
    background-image: url(../assets/images/separators/large/separator01-image.jpg);
  }
}/* ------------------- /separator-image pool-image ---------------------- */

/* ------------------- separator-image bar-image ---------------------- */
.bar-image {
  background-image: url(../assets/images/separators/small/separator02-image.jpg);
  @include breakpoint(medium){
    background-image: url(../assets/images/separators/medium/separator02-image.jpg);
  }
  @include breakpoint(large){
    background-image: url(../assets/images/separators/large/separator02-image.jpg);
  }
}/* ------------------- /separator-image bar-image ---------------------- */

/* ------------------- /separator-image ---------------------- */

/* ------------------- /Règles générales ---------------------- */


/*  ------------------ Off-canvas ------------------  */
.off-canvas {
  
  h3 {
    font-size: rem-calc(20);
    color: $white;
  }
  .menu li {
    height:  rem-calc(35);
    a {
      color: $white;
      outline:none;
      height: 100%;
      padding: 0 1rem;
      align-items: center;
      /* Transition "ease-in-out" de 0.5s sur font-size */
      transition: font-size 0.5s ease-in-out;
      &:hover {
		    color: $secondary-color;
        transform: translateX(0.5rem);
        font-size: rem-calc(20);
      }
      &::after {
        border-color: transparent transparent transparent $white;
        transition-property: all;
        transition-duration: 0.5;
        transition-timing-function: ease-in-out;
      }
      &::before{
        transition-property: all;
        transition-duration: 0.5;
        transition-timing-function: ease-in-out;
      }
      &:hover::before {
        border-color: transparent $secondary-color transparent transparent;
      }
      &:hover::after  {
        right: 1.5rem;
        border-color: transparent transparent transparent $secondary-color;
      }
      &.active {
        background-color: $secondary-color;
        color: $white;
        transform: none;
        font-size: rem-calc(15);
      }
    }

  }
  li.is-submenu-parent-item {
    height: auto;
    text-align: center;
    background-color: $secondary-color;
    font-size: rem-calc(20);
    font-style: italic;
    a{
      justify-content: center;
      &:hover{
        color: $white !important;
        transform: none;
      }
      
    }
  }
  li.js-drilldown-back {
    a{
      justify-content: center;
      &:hover{
        transform: none;
      }
    }
    
  }
  
}
  

/*  ------------------ /Off-canvas ------------------ */

/* ------------------- Header ---------------------- */

/* ------------------- Banière video ---------------------- */
header{
  position: relative;
}
.promo-video, .promo {
  position: relative;
  width: 100%;
  video {
    display: flex;
    width: 100%;
    height: 100%;
  }
  #overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(rgba(0,74,141,0.7) 0%, rgba(1,22,59,0.7) 100%);
    background: -o-linear-gradient(rgba(0,74,141,0.7) 0%, rgba(1,22,59,0.7) 100%);
    background: linear-gradient(rgba(0,74,141,0.7) 0%, rgba(1,22,59,0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3004a8d', endColorstr='#b301163b',GradientType=0 );
  }
}/* ------------------- /Banière video ---------------------- */

/* ------------------- logo et menu ---------------------- */
.header-content {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  .menu-icon, .menu-icon:hover {
    z-index: 3000;
    width: rem-calc(40);
    height: rem-calc(24);
    margin-right: rem-calc(15);
    @include breakpoint(medium) {
      width: rem-calc(60);
      height: rem-calc(32);
      margin-right: rem-calc(20);
    }
    &::after{
      height: rem-calc(4);
      background-color: $white;
      box-shadow: 0 20px 0 $white, 0 10px 0 $white;
      @include breakpoint(medium) {
        height: rem-calc(6);
        box-shadow: 0 32px 0 $white, 0 16px 0 $white;
      }
    }
  }
}/* ------------------- /logo et menu ---------------------- */

/* ------------------- Slogan ---------------------- */
.headliner {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 90%;
  height: 100%;
    .small-10{
    margin: 0 auto;
  }
  h1{
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    width:100%;
    color: $white;
    transform: translateY(-50%);
    transform: translateX(-50%);
    border-top: 2px solid $white;
    border-bottom: 2px solid $white;
    text-transform: uppercase;
  }
}/* ------------------- Slogan ---------------------- */

/* ------------------- /Header ---------------------- */



/* ------------------- Rooms Section ---------------------- */
.rooms {
  padding: rem-calc(15);
  width: 100%;
  @include breakpoint(large) {
    padding: rem-calc(30);
  }
  .button{
    margin-right: rem-calc(15);
  }
  h2{
    width: 100%;
    padding-left: rem-calc(15);
  }
  /* ------------------- Rooms container ---------------------- */
  .rooms-container {
    margin: 0;
    width: 100%;
    @include breakpoint(medium){
      padding: 0;
    }
    
    /* ------------------- Room article ---------------------- */
    .room-container {
      margin-bottom: rem-calc(20);
      &:last-child {
        margin-bottom: 0;
      }
      @include breakpoint(large){
        margin-bottom:0;
      }
      /* ------------------- Room figure ---------------------- */
      .room-image {
        position: relative;
        width: 100%;
        height: auto;
        padding: 15px 15px 0 15px;
        background-color: $white;
        /* ------------------- Room photo ---------------------- */
        img {
          width: 100%;
        }
        /* ------------------- Room name ---------------------- */
        .room-title {
          color: $white;
          font-weight: bold;
          position: absolute;
          left: 0;
          bottom: 0;
          padding-left: rem-calc(20);
        }
      }/* ------------------- /Room figure ---------------------- */
      
      /* ------------------- Room content ---------------------- */
      .room-content {
        padding: rem-calc(20);
        margin-bottom: rem-calc(20);
        background-color: $white;
      }/* ------------------- /Room content ---------------------- */
    }/* ------------------- /Room article ---------------------- */
  }/* ------------------- /Rooms container ---------------------- */
}/* ------------------- /Room Section ---------------------- */



/* ------------------- About Us and Gallery Section ---------------------- */
.about-us-gallery {
  position: relative;
  @include breakpoint(medium){
      padding: rem-calc(30 0);
  }
  /* ------------------- Background Gallery Section ---------------------- */
  .bg-blue {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    z-index: -1;
    @include breakpoint(medium){
      background-color: $primary-color;
    }
  }
  /* ------------------- About Us Section ---------------------- */
  .about-us{
    padding: rem-calc(25);
    @include breakpoint(medium){
      padding: rem-calc(0 30);
      width: 50%;
    }
  }/* ------------------- /About Us Section ---------------------- */

  /* ------------------- Gallery Section ---------------------- */
  .gallery {
    background-color: $primary-color;
    padding: rem-calc(30 15);
    @include breakpoint(medium){
      padding: rem-calc(0 20);
      width: 50%;
    }
    h2 {
      color: $white;
      padding-left: rem-calc(15);
    }
    .thumbnail {
      max-width: none;
      width: 100%;
      height: auto;
      margin: rem-calc(20 0 20 0);
    }

  }/* ------------------- /Gallery Section ---------------------- */
}/* ------------------- /About Us and Gallery Section ---------------------- */


  
/* ------------------- Book Now Section ---------------------- */
.book-now {
  padding: rem-calc(50 30);
  
}
/* ------------------- /Book Now Section ---------------------- */


/* ------------------- Footer ---------------------- */
footer {
  padding-top: rem-calc(30);
  background-color: $primary-color;
  color: $white;
  .footer-container {
    @include breakpoint(medium) {
      padding-right: 1rem;
    }
  }
  /* ------------------- Footer Links ---------------------- */
  a {
    padding-left: 0;
    color: $white;
    &:hover{
      color: $white;
    }
  }
  .sitemap .menu>li>a {
    padding: 0.7rem 0;
    @include breakpoint(large) {
      padding: 0.7rem 1rem;
    }
  }
  
  /* ------------------- contact-information ---------------------- */
  .contact-information {
    position: relative;

    h4{
      margin-left: rem-calc(38);
      @include breakpoint(medium) {
        margin-left: rem-calc(60);
      }
    }
    li {
      position: relative;
      padding-top: rem-calc(10);
      padding-left: rem-calc(38);
      height: rem-calc(45);
      @include breakpoint(medium) {
        padding-top: rem-calc(20);
        padding-left: rem-calc(60);
      }
      i {
        position: absolute;
        font-size: rem-calc(40);
        top: -5px; left: 0;
        @include breakpoint(medium) {
          font-size: rem-calc(50);
          top: -5px; left: 0;
        }
      }
    }
    .map li:first-child{
      padding-top: rem-calc(3);
      height: auto;
      i{
        top: rem-calc(0);
        @include breakpoint(medium) {
          top: rem-calc(-12);
        }
      }
    }
    .map li:last-child{
      padding-top: 0;
      height: auto;
    }
  }/* ------------------- /contact-information ---------------------- */
  /* ------------------- Footer About ---------------------- */  
  .footer-about {
    padding-top: rem-calc(30);
    text-align: center;
    @include breakpoint(medium){
      padding-top: 0;
      text-align: left;
    }
    .social{
      font-size: rem-calc(50);
      justify-content: center;
      &:hover {
        color: $white;
      }
      li:last-child a {
        padding-right: 0;
      }
      i {
        margin-right: 0;
      }
      @include breakpoint(medium){
        justify-content: flex-end;
      }
    }
    
  }/* ------------------- /Social icon ---------------------- */
  
  /* ------------------- Copyright ---------------------- */ 
  p.copyright {
    margin-top: rem-calc(10);
    margin-bottom: 0;    padding: rem-calc(20 0);
    background-color: darken($primary-color, 15);
  }/* ------------------- /Copyright ---------------------- */ 
}/* ------------------- /Footer ---------------------- */


    
  